
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
box-shadow: 15px 15px 15px rebeccapurple;
}

#status
{
font-size: 18px;
box-shadow: 15px 15px 15px rebeccapurple;
}

body{
    background-size: cover;
    background-position: center;
}

canvas{
    box-shadow: 15px 15px 15px rebeccapurple;
    border-radius: 20px;
}